# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

tags


#bins
ndb
core


deps/leveldb/
deps/lua/src/lua
deps/lua/src/luac
deps/snappy/

*.pyc
*.log
